@font-face {
  font-family: "tomatoSoup";
  src: url("./media/font/TomatoSoup/TomatoSoup-Regular.otf");
}

@font-face {
  font-family: "moon";
  src: url("./media/font/MOON2/Moon2.0-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "moon";
}

.App {
  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  background: linear-gradient(to right, #000000, #434343);
  /* background: linear-gradient(#093637, #44a08d); */
  /* background: url("./media/images/alexander-andrews-520156-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errormessage {
  background: rgb(122, 50, 50);
  margin: 10px 0;
  /* border: 1px solid rgba(255, 255, 255, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  height: 40px;
  width: 250px;
  box-sizing: border-box;
}

.home__title {
  font-family: "tomatoSoup";
  color: white;
  font-size: 60px;
  font-weight: 300;
}

.loading {
  height: 250px;
  width: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__outline {
  border: 0.1px solid rgba(255, 255, 255, 0.7);
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__outline {
  border: 0.1px solid rgba(255, 255, 255, 0.7);
  border-bottom: none;
  height: 287.5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
} */

.contact__input {
  font-family: "moon";
  padding: 0 10px;
  /* animation: 1s ease-out 0s 1 moveUp; */
  color: rgba(255, 255, 255, 0.76);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
}

/* textarea */

.contact__content {
  font-family: "moon";
  padding: 10px;
  color: rgba(255, 255, 255, 0.76);
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
}

.contact__submit {
  cursor: pointer;
  width: 100%;
  height: 15%;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}

.contact__submit:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.home__nav,
.contact__nav {
  width: 250px;
  height: 35px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__nav__ul,
.contact__nav__ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__nav__ul__li,
.contact__nav__ul__li {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}

.home__nav__ul__li:hover,
.contact__nav__ul__li:hover {
  /* background-color: white; */
  border-bottom: 1px solid rgb(255, 255, 255);
}

.home__nav__navlink,
.contact__nav__navlink {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 60px;
}

.contact__icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* position: relative; */
  border: 4px solid rgba(255, 255, 255, 0.7);
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__hr {
  width: 200%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 20%;
  margin: 5px 0;
}

.profile__picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__picture img {
  border-radius: 100%;
  border: 2px solid white;
  height: 100px;
  width: 100px;
}

.profile__technologies {
  color: white;
  margin: 10px 0 30px;
}

.profile__technologies ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__technologies li {
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.5);
}

.profile__logo {
  font-size: 25px;
  color: white;
}

.profile__section__title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  font-weight: 400;
}
